</body>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">
	$(document).bind("contextmenu",function(e) {
 e.preventDefault();
});
$(document).keydown(function(e){
    if(e.which === 123){
       return false;
    }
});
</script>
<footer>
	<div style="
		display:flex;
		align-items: center;
		justify-content: center;
		text-align: center; 
		bottom:0px; 
		width: 100%;
		left: 0px;
		height: 70px;
		position: absolute;
		border-top: 1px solid #E0E0E0;
		font-size: 20px;
	">
		<b>@SCM Project 2019</b>	
	</div>
</footer>
</html>