{% extends 'dashboard/base.html' %}

{% block content %}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    body{
		background-color: #25274d;
	}
	.contact{
		padding: 4%;
		height: 400px;
	}
	.col-md-3{
		background: #ff9b00;
		padding: 4%;
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
	}
	.contact-info{
		margin-top:10%;
	}
	.contact-info img{
		margin-bottom: 15%;
	}
	.contact-info h2{
		margin-bottom: 10%;
	}
	.col-md-9{
		background: #fff;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
	.contact-form label{
		font-weight:600;
	}
	.contact-form button{
		background: #25274d;
		color: #fff;
		font-weight: 600;
		width: 25%;
	}
	.contact-form button:focus{
		box-shadow:none;
	}

        .table-wrapper {
    max-height: 500px;
    width: 100%;
    overflow: auto;
    display:inline-block;
  }
  
  .message-bubble 
{padding: 10px 0px 10px 0px;}
.text-muted{font-weight: bold;}#sender > .text-muted{color: rgb(9, 170, 9) !important;}#receiver > .text-muted{color: rgb(223, 54, 54) !important;}.message-bubble:nth-child(even) { background-color: #F5F5F5; }
.message-bubble > *
{padding-left: 10px; }
.panel-body { padding: 0px; }
.panel-heading { background-color: #3d6da7 !important; color: white !important; }
    </style>
<!------ Include the above in your HEAD tag ---------->

<div class="container contact">
	<div class="row">
		<div class="col-md-3">

			<div class="contact-info text-center">
				<img src="https://img.icons8.com/bubbles/2x/user.png" alt="image"/>
				<h2>{{ request.user.username }}</h2>
				<p>{{ request.user }}</p>
			</div>
		</div>
		<div class="col-md-9">
            {% block message %} {% endblock message %}
			</div>
		</div>
	</div>
</div>

{% endblock %}