{% extends 'wallet/base.html' %}

{% block wallet %}

				
	<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Sender</th>
      <th scope="col">Amount</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  	{% for t in transactions %}
    <tr>
      <td>{{ t.user_1.username }}</td>
      <td>{{ t.amount }}</td>
      <td>
          <a href="/accept_transaction/{{ t.id }}" class="btn btn-outline-success">Accept</a>
          <a href="/decline_transaction/{{ t.id }}" class="btn btn-outline-danger">Decline</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>



{% endblock wallet %}